<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-75 bg-light my-5 d-flex">
		<!-- 상품 대표 이미지 -->
		<div class="col-6 bg-success">
			<div class="d-flex justify-content-center">
				<img th:src="${item.imagePath}" alt="본문 이미지" width="400px">	
			</div>	
		</div>
		
		<!-- 상품 설명 & 옵션 -->
		<div class="col-6">
			<h3 class="name" th:text="${item.name}"></h3>
			<hr>
			<table class="table table-borderless">
					<tr>
						<th>PRICE</th>
						<td th:text="${item.price}" style="text-decoration: line-through;"></td>
					</tr>
					<tr>
						<th>SALE</th>
						<td th:text="${item.sale}"></td>
					</tr>
					<tr>
						<th>OPTION</th>
						<td>
							<select id="option" class="form-control col-8">
					            <option>-[필수] OPTION 선택-</option>
					            <option th:each="option : ${optionList}" th:value="|${option.color} - ${option.size}|" th:text="|${option.color} - ${option.size}|"></option>					          
					        </select>
						</td>						
					</tr>					
			</table>
			<table id="orderTable" class="table"> 
				<tbody>
					
				</tbody>			
			</table>
		
			
			<div>Total Price: </div>
			
			<!--  order / cart / wish button --> 
			<div class="d-flex mt-3">
				<div class="col-4">
					<input type="button" class="order btn btn-dark w-100" value="ORDER">
				</div>
				<div class="col-4">
					<input type="button" class="cart btn btn-light w-100" value="CART">
				</div>
				<div class="col-4">
					<input type="button" class="wish btn btn-light w-100" value="WISH">
				</div>		
			</div>		
		</div>
	
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    
    	$(document).ready(function(){
			
    		// 상품 정보 가져오기
    		$("#option").on('change',function(){
    			
    		});
    		
    		
    		
    		
    		
    		// order
    		$(".order").on('click',function() {
    			
    			
    			
    			
    		});
    		
    	}); // -------- document 끝
    		
 

    </script>
</th:block>