<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-75 bg-light my-5 d-flex">
		<!-- 상품 대표 이미지 -->
		<div class="col-6 bg-success">
			<div class="d-flex justify-content-center">
				<img th:src="${item.imagePath}" alt="본문 이미지" width="400px">	
			</div>	
		</div>
		
		<!-- 상품 설명 & 옵션 -->
		<div class="col-6 bg-danger">
			<h3 th:text="${item.name}"></h3>
			<hr>
			<table class="table table-borderless">
					<tr>
						<th>PRICE</th>
						<td th:text="${item.price}" style="text-decoration: line-through;"></td>
					</tr>
					<tr>
						<th>SALE</th>
						<td th:text="${item.sale}"></td>
					</tr>
					<tr>
						<th>OPTION</th>
						<td>
							<select id="option" class="form-control col-8">
					            <option>-[필수] OPTION 선택-</option>
					            <option th:each="option : ${optionList}" th:value="|${option.color} - ${option.size}|" th:text="|${option.color} - ${option.size}|"></option>					          
					        </select>
						</td>						
					</tr>					
			</table>
			<hr>
			<table id="orderTable">
				<tbody>
				
				</tbody>
			
			</table>
		
			
			<div>Total Price: </div>
			
			<!--  order / cart / wish button --> 
			<div class="d-flex mt-3">
				<div class="col-4">
					<input type="button" class="order btn btn-dark w-100" value="ORDER">
				</div>
				<div class="col-4">
					<input type="button" class="cart btn btn-light w-100" value="CART">
				</div>
				<div class="col-4">
					<input type="button" class="wish btn btn-light w-100" value="WISH">
				</div>		
			</div>		
		</div>
	
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    
    	$(document).ready(function(){
    		
    		 $("#option").on('change', function() {
    	            let selectedOption = $("#option").val(); // 선택된 옵션
    	            if (selectedOption) {
    	                // 상품 정보 설정
    	                let productName = "${item.name}";
    	                let price = "${item.sale}";
    	                let quantity = 1; // 기본 수량 1로 설정 (필요 시 변경 가능)

    	                // 새로운 행 추가
    	                let newRow = `
    	                    <tr>
    	                        <td>${productName}</td>
    	                        <td>${selectedOption}</td>
    	                        <td>${quantity}</td>
    	                        <td>${price}</td>
    	                        <hr>
    	                    </tr>
    	                `;
    	                
    	                // 테이블에 행 추가
    	                $("#orderTable tbody").append(newRow);
    	            }
    	        });
    		
    	}); // -------- document 끝
    		
 

    </script>
</th:block>