<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-75 bg-light my-5 d-flex">
		<!-- 상품 대표 이미지 -->
		<div class="col-6 bg-success">
			<div class="d-flex justify-content-center">
				<img th:src="${item.imagePath}" alt="본문 이미지" width="400px">	
			</div>	
		</div>
		
		<!-- 상품 설명 & 옵션 -->
		<div class="col-6">
			<h3 th:text="${item.name}"></h3>
			<hr>
			<table class="table table-borderless">
					<tr>
						<th>PRICE</th>
						<td th:text="${item.price}" style="text-decoration: line-through;"></td>
					</tr>
					<tr>
						<th>SALE</th>
						<td th:text="${item.sale}"></td>
					</tr>
					<tr>
						<th>OPTION</th>
						<td>
							<select id="option" class="form-control col-8" >
					            <option>-[필수] OPTION 선택-</option>
					            <option th:each="option : ${optionList}" th:value="|${option.color}/${option.size}" th:text="|${option.color}/${option.size}" th:data-stock="${option.stock}">
					            </option>					          					        
							</select>
						</td>
					</tr>			
			</table>			
			<input type="hidden" th:value="${item.name}" id="name">
			<input type="hidden" th:value="${item.sale}" id="sale">
			<table id="orderTable" class="table"> 
				<tbody>
					
				</tbody>			
			</table>
		
			
			<div class="mx-2 d-flex justify-content-between">
				<h5>Total Price:</h5> 
				<h5 class="totalPrice"></h5>
			</div>
			 
			
			<!--  order / cart / wish button --> 
			<div class="d-flex mt-3">
				<div class="col-4">
					<button class="order btn btn-dark w-100">ORDER</button>
				</div>
				<div class="col-4">
					<a href="/shop/cart/main-view"><button class="cart btn btn-light w-100">CART</button></a>
				</div>
				<div class="col-4">
					<button class="wish btn btn-light w-100">WISH</button>
					<input type="hidden" th:value="${userId}" id="userId">
					<input type="hidden" th:value="${item.id}" id="itemId">
				</div>		
			</div>		
		</div>
	
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    
    	$(document).ready(function(){
    		
    		// 총 가격을 업데이트하는 함수
    		function updateTotalPrice() {
    		    let totalPrice = 0;
    		    $("#orderTable tbody tr").each(function() {
    		        let quantity = parseInt($(this).find('.itemStock').val(), 10); // 문자열을 숫자로 변환
    		        let baseSale = $(this).find('.itemSale').data('base-sale');
    		        totalPrice += baseSale * quantity;
    		    });
    		    $(".totalPrice").text(totalPrice + " won");
    		}

    		// 상품 정보 가져오기
    		$("#option").on('change', function() {
    		    let option = $("#option option:selected");
    		    let optionText = option.text(); // 옵션 텍스트 출력
    		    let name = $("#name").val();
    		    let sale = parseInt($("#sale").val(), 10); // 숫자로 변환
    		    let stock = option.data('stock'); // 선택된 옵션 재고
    		    
    		    // 새로운 행을 생성
    		    let newRow = $('<tr>')
    		        .append('<td>' + name + '</td>')
    		        .append('<td>' + optionText + '</td>')
    		        .append('<td><input type="number" min="1" max="' + stock + '" step="1" value="1" class="itemStock"/></td>')
    		        .append('<td class="itemSale" data-base-sale="' + sale + '">' + sale + '</td>')
    		        .append('<td><button class="deleteBtn btn btn-light"><img src="/img/trash.png" width="20px"></button></td>');
    		        
    		    // 생성한 행을 테이블에 추가
    		    $("#orderTable tbody").append(newRow);
    		    
    		    // input 구매 수량이 변할 때마다 가격 부분 업데이트 및 totalprice 업데이트
    		    newRow.find('.itemStock').on('input', function() {
    		        updateTotalPrice(); // Total price 업데이트
    		    });
    		    
    		    // 삭제 버튼 클릭 시 행 삭제 및 totalprice 업데이트
    		    newRow.find(".deleteBtn").on('click', function() {
    		        $(this).closest('tr').remove();
    		        updateTotalPrice(); // Total price 업데이트
    		    });
    		    
    		    // 총 가격을 업데이트
    		    updateTotalPrice();
    		});

    		    		
    		// order
    		$(".order").on('click',function() {
    			
	   			// 옵션을 선택하지 않은 경우
	   	        if ($('#orderTable tbody tr').length == 0) {
	   	            alert("옵션을 선택하세요.");
	   	            location.reload();
	   	            return; // 함수 종료
	   	        }
    			
				let totalPrice = 0;
	   	    	let orderList = [];	   	    	
	   	    	
    			// 옵션 선택 & 주문
	  			$('#orderTable tr').each(function() {
  				    let name = $(this).find("td").eq(0).html();  
  				    let option = $(this).find("td").eq(1).html();
  				    let count = $(this).find("td").find(".itemStock").val();   				      
  				    let sale = $(this).find("td").eq(3).html();
  				    
  				    // 리스트로 자료구조로 만들어서 컨트롤러로 보내기?
					    orderList.push({
					        name: name,
					        option: option,
					        count: count,
					        sale: sale
					    });
  				   
  				   	totalPrice;
	  			});
    			
    			$(".totalPrice").text(totalPrice);
    			
    			alert(totalPrice);
    			
  				      
			    $.ajax({
	                type: "post",
	                url: "/shop/order/order",
	                data: {"items":orderList, "totalPrice":totalPrice},
	                success:function(data) {
	                    if (data.code == 200) {
	                        // 성공 처리
	                    }
	                }
	            
	        });
	  				 
	   		}); // ------ order 끝
    		
    		
    		// wish에 담기 
    		$(".wish").on('click',function(){
    			
    			let userId = $("#userId").val();
    			let itemId = $("#itemId").val();
    			
    			// 로그인이 안되어 있는 경우 
    			if (!userId) {
    				Swal.fire({
	    					icon: 'warning',
	    					title: '로그인이 필요합니다.', 	
	    					confirmButtonColor: '#00008b',
	    					confirmButtonText: '확인'
    				}).then((result) => {
    				   if (result.isConfirmed) { // 확인 버튼 클릭 시 화면 이동
    				      location.href = "/shop/user/sign-in-view";
    				   }
    				});
    			  return;
    			}
    			
	   			// 옵션을 선택하지 않은 경우
	   	        if ($('#orderTable tbody tr').length == 0) {
	   	            alert("옵션을 선택하세요.");
	   	            location.reload();
	   	            return; // 함수 종료
	   	        }
    			
    			
	    			$('#orderTable tr').each(function() { 				     
	 				      let option = $(this).find("td").eq(1).html(); 	
	 				      let [color, size] = option.split('/'); 	 				     
	
	 				      $.ajax({
	 				    	  type: "post"
	 				    	  ,url: "/shop/user/mypage/wish/add"
	 				    	  ,data: {"color":color, "size":size, "itemId":itemId}
	 				      
	 				      	  ,success:function(data) {
	 				      		  if (data.code == 200) {
	 				      			Swal.fire({
	 	    	    					icon: 'success',
	 	    	    					title: 'ok', 	
	 	    	    					text: '상품을 찜 하였습니다.',
	 	    	    					confirmButtonColor: '#00008b',
	 	    	    					confirmButtonText: '확인'
	 	    	    				})
	 				      		  }	else {
	 		    						Swal.fire({
	 		    	    					icon: 'error',
	 		    	    					title: 'error',
	 		    	    					text: '상품 찜 하기에 실패했습니다.',
	 		    	    					confirmButtonColor: '#00008b',
	 		    	    					confirmButtonText: '확인'
	 		    	    				})
	 		    					}
	 				      	  }
	 				      	  
	 				    	  
	 				      });    			
	    			});
    		});
    		
    	}); // -------- document 끝
    		
 

    </script>
</th:block>