<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/orderLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="orderForm col-7">
	
	<!-- 주문 상품 -->
	<div>
		<h5 class="my-3"><b>주문상품</b></h5>
			<div class="order-scroll">
			   <!-- 상품 정보 및 이미지 -->
			  <div class="w-100 mb-2" th:each="orderItem : ${orderList}">
			      <div class="row w-100">
			          <!-- 상품 이미지 -->
			          <div class="col-3 text-center">
			              <img th:src="${orderItem.item.imagePath}" width="100px" height="100px" alt="상품 이미지">
			          </div>
			          
			          <!-- 상품 정보 -->
			            <div class="col-9 bg-light">
			                <h5 th:text="${orderItem.item.name}" class="ml-2"></h5>
			                <div class="d-flex ml-2">
			                    [옵션 : <div th:text="${orderItem.option}"></div>]
			                </div>
			                <div class="d-flex ml-2">
			                    수량 : <div th:text="${orderItem.count}"></div>개
			                </div>
			                <h6 th:text="${orderItem.sale}" class="itemSale ml-2" th:data-base-sale="${orderItem.sale}"></h6>
			                <hr>
			            </div>
			        </div>
			    </div>
			</div>
	</div>
	
	<!-- 결제 정보 -->
	<div class="my-3 bg-light">		
		<h5 class="py-2"><b>최종 결제 금액</b></h5>
		<div ></div>
	</div>
	
	
	<!-- 주문 정보 -->
	<div class="w-100 border border-dark my-3">
		<h5 class="mt-3 ml-3"><b>주문 정보</b></h5>
		<table class="table table-borderless">
			<tr>
				<th>*주문자</th>
				<td><input th:value="${user.userId}" type="text" id="orderName" class="form-control"></td>
			</tr>
			<tr>
				<th>*이메일</th>
				<td><input th:value="${user.email}" type="text" id="email" class="form-control"></td>
			</tr>
			<tr>
				<th>*휴대전화</th>
				<td><input th:value="${user.phone}" type="text" id="phone" class="form-control"></td>
			</tr>
			<tr>
				<th>*주소</th>
				<td>
					<span class="d-flex">
						<input type="text" th:value="${postCode}" id="postCode" class="form-control col-4" placeholder="우편번호">
						<input type="button" value="우편번호 찾기" id="addressBtn" class="btn btn-secondary ml-2 col-3"><br>
					</span>
					<input type="text" th:value="${address}" id="address" placeholder="주소" class="form-control my-2">
					<input type="text" th:value="${detailAddress}" id="detailAddress" placeholder="상세주소" class="form-control">											
				</td>
			</tr>					
		</table>			
	</div>
	
	<!--  배송지 -->
	<div class="w-100 border border-dark">
		<h5 class="mt-3 ml-3"><b>배송지</b></h5>
		<table class="table table-borderless">
			<tr>
				<th>*받는사람</th>
				<td><input type="text" id="receiver" class="form-control"></td>
			</tr>
			<tr>
				<th>*휴대전화</th>
				<td><input type="text" id="receiverPhone" class="form-control"></td>
			</tr>
			<tr>
				<th>*주소</th>
				<td>
					<span class="d-flex">
						<input type="text" id="receiverPostCode" class="form-control col-4" placeholder="우편번호">
						<input type="button" value="우편번호 찾기" id="addressBtn" class="btn btn-secondary ml-2 col-3"><br>
					</span>
					<input type="text" id="receiverAddress" placeholder="주소" class="form-control my-2">
					<input type="text" id="receiverDetailAddress" placeholder="상세주소" class="form-control">											
				</td>
			</tr>					
		</table>					
	</div>
	
	<div class="d-flex justify-content-center">
		<a href="/shop/order/order-success-view" class="orderBtn btn btn-dark col-3 mt-4">주문하기</a>
	</div>
	</div>
		
</section>

<th:block layout:fragment="script">
	<!-- 우편번호 찾기 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>
    	$(document).ready(function(){
    		
    		//우편번호 찾기 
    		$("#addressBtn").on('click',function(){
    			new daum.Postcode({
    	            oncomplete: function(data) {
    	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    	
    	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
    	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
    	                var addr = ''; // 주소 변수
    	                var extraAddr = ''; // 참고항목 변수
    	
    	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
    	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
    	                    addr = data.roadAddress;
    	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
    	                    addr = data.jibunAddress;
    	                }
    	
    	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
    	                document.getElementById('postCode').value = data.zonecode;
    	                document.getElementById("address").value = addr;
    	                // 커서를 상세주소 필드로 이동한다.
    	                document.getElementById("detailAddress").focus();
    	            }
    	        }).open();
    			
    		}); //-------------------- 우편번호 찾기 끝
    		
       	    // 상품 천 단위 구분
       	    function formatPrice(price) {
       	        return parseFloat(price).toLocaleString();
       	    }
    		
       	    $(".itemSale").each(function() {
       	        let baseSale = $(this).data('base-sale');
       	        $(this).text(formatPrice(baseSale));
       	    });
    		
    		
    		// 주문하기btn 
    		$(".orderBtn").on('click',function(){
    			let receiver = $("#receiver").val();
    			let receiverPhone = $("#receiverPhone").val();
    			let receiverPostCode = $("#receiverPostCode").val();
    			let receiverAddress = $("#receiverAddress").val();
    			let receiverDetailAddress = $("#receiverDetailAddress").val();
    			
    			if (receiver == null) {
    				alert("받는 사람을 작성해주세요.")
    				return;
    			}
    			
    			if (receiverPhone == null) {
    				alert("배송 사람 전화번호를 작성해주세요.")
    				return;
    			}
    			
    			if (receiverPostCode == null) {
    				alert("우편번호를 작성해주세요.")
    				return;
    			}
    			
    			if (receiverAddress == null) {
    				alert("주소를 작성해주세요.")
    				return;
    			}
    			
    			if (receiverDetailAddress == null) {
    				alert("상세주소를 작성해주세요.")
    				return;
    			}
    			    			
    		});
    
    	});
    </script>
</th:block>