<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	
	<section class="col-10 mb-4">
	    <div class="item-parent-box d-flex flex-wrap mt-5">
	        <div th:each="item : ${pagingItemList}" class="d-flex justify-content-center">
	        	<div class="item-box text-center">
	             <a th:href="|/shop/item/item-detail-view?itemid=${item.id}|"  class="item"><img th:src="${item.imagePath}" alt="상품 대표 이미지" class="w-50 h-50"></a>
	             <div><a th:href="|/shop/item/item-detail-view?itemid=${item.id}|" th:text="${item.name}" class="font-weight-bold mt-3 text-dark" th:data-item-name="${item.name}"></a></div>
	             <del><div th:text="${item.price}" class="itemPrice text-secondary" th:data-base-price="${item.price}"></div></del>
	             <div th:text="${item.sale}" class="itemSale" th:data-base-sale="${item.sale}"></div>
	            </div>
	        </div>	      	        
	    </div>	 
	    <!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/shop/main?prevId=${prevId}|" class="mr-5 text-dark">&lt;&lt; 이전</a>
			<a th:if="${nextId != 0}" th:href="|/shop/main?nextId=${nextId}|" class="text-dark">다음 &gt;&gt;</a>
		</div>   	   
	</section>
</section>

<th:block layout:fragment="script">
    <script>
    
    $(document).ready(function(){
    	
    	
   	    // 상품 천 단위 구분
   	    function formatPrice(price) {
   	        return parseFloat(price).toLocaleString();
   	    }

   	    $(".itemSale").each(function() {
   	        let baseSale = $(this).data('base-sale');
   	        $(this).text(formatPrice(baseSale));
   	    });
   	    
   	    $(".itemPrice").each(function() {
   	        let basePrice = $(this).data('base-price');
   	        $(this).text(formatPrice(basePrice));
   	    });
    	
    });

    </script>
</th:block>