<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-75">
		<div class="d-flex justify-content-center my-4">
			<h4>CART</h4>
		</div>
		
		<!-- 상품 -->
		<table class="cartTable table mt-5 text-center">
			<thead>
				<tr class="bg-light">	
					<th>
						<input type="checkbox" id="selectAll">
					</th>
					<th>이미지</th>
					<th>상품정보</th>
					<th>수량</th>
					<th>가격</th>
					<th>선택</th>
				</tr>			
			</thead>
			<tbody>
			    <tr th:each="cartView : ${cartViewList}">
			        <td>
			            <input type="checkbox" class="itemCheckbox">
			        </td>
			        <td th:each="cartItem : ${cartView.cartItemList}">
			            <!-- 상품 이미지 -->
			            <img th:src="${cartItem.item.imagePath}" alt="상품 이미지" style="width: 100px; height: auto;">
			        </td>
			        <td th:each="cartItem : ${cartView.cartItemList}">
			            <!-- 상품 이름 -->
			            <span th:text="${cartItem.item.name}"></span><br>
			            <!-- 옵션 정보 -->
			            <span th:text="|[옵션:  ${cartItem.itemOption.color} / ${cartItem.itemOption.size}]|" ></span>
			        </td>
			        <td th:each="cartItem : ${cartView.cartItemList}">
			            <!-- 상품 수량 -->
			            <input type="number" min="1" th:max="${cartItem.itemOption.stock}" step="1" th:value="${cartItem.quantity}" class="itemStock" th:data-cart-id="${cartItem.cartId}"/><br>
			            <input type="button" class="stockBtn btn btn-light btn-sm mt-2" value="변경">
			        </td>
			        <td th:each="cartItem : ${cartView.cartItemList}">
			            <!-- 상품 가격 -->
			            <span th:text="${cartItem.item.price}" style="text-decoration: line-through;"></span><br>
			            <span th:text="${cartItem.item.sale}" class="itemSale" th:data-base-sale="${cartItem.item.sale}"></span>
			        </td>
			        <td th:each="cartItem : ${cartView.cartItemList}">
			            <input type="button" class="orderBtn btn btn-dark btn-sm" value="ORDER" th:data-item-id="${cartView.cart.itemId}" th:data-option="|${cartItem.itemOption.color}/${cartItem.itemOption.size}"><br>
			            <input type="button" class="wishBtn btn btn-light btn-sm my-1" value="WISH" th:data-item-id="${cartView.cart.itemId}" th:data-option-id="${cartView.cart.optionId}"><br>
			            <input type="button" class="deleteBtn btn btn-light btn-sm" value="DELETE" th:data-cart-id="${cartView.cart.id}">
			        </td>
			    </tr>  			    	      
			</tbody>		
		</table>
		
		<hr>
		<div class="d-flex justify-content-end">
			<h5>합계 : </h5>
			<h5 class="totalPrice ml-3"></h5>
		</div>
		
		
		<!-- 주문 btn -->
		<div class="d-flex justify-content-center">
			<div>
				<input id="orderAllBtn" type="button" value="전체상품주문" class=" btn btn-dark">
			</div>
			<div>
				<input id="orderSelectedBtn" type="button" value="선택상품주문" class=" btn btn-light ml-3">
			</div>		
		</div>
	
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    
   	$(document).ready(function(){
   		
   	    // 상품 천 단위 구분
   	    function formatPrice(price) {
   	        return parseFloat(price).toLocaleString();
   	    }


   	    $(".itemSale").each(function() {
   	        let baseSale = $(this).data('base-sale');
   	        $(this).text(formatPrice(baseSale));
   	     	updateTotalPrice(); 
   	    });
   		
   		// 상품 전체 선택/해제
   		$("#selectAll").on('click',function(){
   			let isChecked = $(this).prop('checked');
   			$(".itemCheckbox").prop('checked',isChecked);   			
   		}); // ------ 상품 전체 선택/해제 끝
   		   		
   		
   		// input 구매 수량이 변할 때 마다 가격 업데이트 
   		$(".itemStock").on('input',function(){   			
   			updateTotalPrice();   			
   		});
   		
   		// 수량 변경
        $(".stockBtn").on('click', function(){
            
            let row = $(this).closest('tr');
            let quantity = row.find('.itemStock').val();
            let cartId = row.find('.itemStock').data('cart-id');
                        
            updateTotalPrice();
           
            $.ajax({
            	type: 'POST',
                url: '/shop/user/mypage/cart/quantity-update',                 
                data: {"cartId" : cartId , "quantity" : quantity},
                success: function(data) {
                	if (data.code == 200) {
                    alert('수량이 변경되었습니다.');    
                	} 
                },
                error: function(e) {
                    alert('수량 업데이트 중 오류가 발생했습니다.');
                }
            }); // --------- AJAX 끝
        }); // ------------ 수량 변경 끝
        
     	// 총 가격 업데이트
        function updateTotalPrice() {
            let totalPrice = 0;
            $(".cartTable tbody tr").each(function() {
                let quantity = parseInt($(this).find('.itemStock').val(), 10); 
                let baseSale = $(this).find('.itemSale').data('base-sale');
                
                // 개별 상품의 총 가격 계산
                let itemTotal = baseSale * quantity;
                $(this).find('.itemSale').text(formatPrice(itemTotal)); 
                
                totalPrice += itemTotal; 
            
            });
            
            $(".totalPrice").text(formatPrice(totalPrice));
            return totalPrice; 
        } // ------------------ 총 가격 업데이트 끝
        
        // 장바구니 상품 개별 주문
        $(".orderBtn").on('click',function(){
            let itemId = $(this).data('item-id');
            let option = $(this).data('option');
            
            let row = $(this).closest('tr'); 
            let count = row.find(".itemStock").val(); 
            let sale = row.find(".itemSale").text().replace(/,/g, '');
            
            let orderList = [];
            
            orderList.push({
                itemId : itemId,
                option: option,
                count: count,
                sale: sale
            });

		    $.ajax({
		        type: "post",
		        url: "/shop/order/add",
		        contentType: "application/json",
		        data: JSON.stringify(orderList), 
		        success: function(data) {
                    if (data.code == 200) {                                   
						location.href = "/shop/order/order-form-view"; 
						row.closest('tr').remove();
                    }                  			    
		      	  } // ------------- success 끝
 				      	  	 				    	  
 			   }); // ------- ajax 끝
            
        	
        }); // ------------ 상품 바로 주문
        
     	// 장바구니 상품 삭제 
        $(".deleteBtn").on('click', function(){
            let cartId = $(this).data('cart-id'); 

             $.ajax({
                 type: 'DELETE',
                 url: '/shop/user/mypage/cart/delete',
                 data : {"cartId" : cartId},
                 success: function(data) {
                     if (data.code == 200) {                    	 
                     // 페이지에서 해당 행 제거
                     $(this).closest('tr').remove();
                     location.reload();
                     }
                 },
                 error: function(e) {
                	alert(data.error_message);
                 }
             });
          
        }); // ----------- 상품 삭제 끝
        
     	// 장바구니 상품 찜하기
        $(".wishBtn").on('click', function(){
            let itemId = $(this).data('item-id'); 
            let optionId = $(this).data('option-id');


             $.ajax({
                 type: 'POST',
                 url: '/shop/user/mypage/cart/wish-add',
                 data : {"itemId" : itemId, "optionId":optionId},
                 success: function(data) {
                     if (data.code == 200) {                    	 
   						Swal.fire({
   	    					icon: 'success',
   	    					title: 'ok', 	
   	    					text: '상품을 찜 하였습니다',
   	    					confirmButtonColor: '#00008b',
   	    					confirmButtonText: '확인'
   	    				}).then((result) => {
   	    				   if (result.isConfirmed) {
   	    				      location.reload();
   	    				   }
   	    				});
                     } else if (data.code == 500) {
                    	 Swal.fire({
    	    					icon: 'warning',
    	    					title: 'warning', 	
    	    					text: '이미 찜 되어있는 상품입니다.',
    	    					confirmButtonColor: '#00008b',
    	    					confirmButtonText: '확인'
    	    				})
                     }
                 },
                 error: function(e) {
                	alert(data.error_message);
                 }
             });
          
        }); // ----------- 상품 찜하기 끝
        
        
        // 장바구니 상품 개별 주문하기 
        $(".orderBtn").on('click',function(){        
        	let $row = $(this).closest('tr'); 
        	let itemId = $(this).data('item-id'); 
            let optionId = $(this).data('option-id');
            let quantity = $row.find('.itemStock').val();


             $.ajax({
                 type: 'POST',
                 url: '/shop/order/cart-order',
                 data : {"itemId" : itemId, "optionId":optionId, "quantity":quantity},
                 success: function(data) {
                     if (data.code == 200) {                    	 
						location.href="/shop/order/order-form-view"
                     } 
                 },
                 error: function(e) {
                	alert(data.error_message);
                 }
             });        	
        }); // ----------- 상품 개별 주문하기 끝
        
   		
   		
   	}); // -----------documnet 끝

    </script>
</th:block>