<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.shoppingMall.admin.mapper.ItemOptionMapper">
 	
 	<insert id="insertItemOption" parameterType="map">
 		INSERT INTO `item_option`
 		(
 			`itemId`,
 			`size`,
 			`color`,
 			`stock`
 		)
 		VALUE
 		(
 			#{itemId},
 			#{size},
 			#{color},
 			#{stock} 			
 		) 	
 	</insert>
 	
 	<select id="selectOptionList" parameterType="map" resultType="com.shoppingMall.admin.domain.ItemOption">
 		SELECT 
 			`itemId`
 			,`size`
 			,`color`
 			,`stock`
 		FROM
 			`item_option`
 		WHERE
 			`itemId` = #{itemId}
 	</select>
 	
 	<select id="selectOptionById" parameterType="int" resultType="com.shoppingMall.admin.domain.ItemOption">
 		SELECT 
 			`itemId`
 			,`size`
 			,`color`
 			,`stock`
 		FROM
 			`item_option`
 		WHERE
 			`itemId` = #{itemId}
 	
 	</select>
 	
 	
 	<select id="selectOptionListByItemIdColorSize" parameterType="map" resultType="com.shoppingMall.admin.domain.ItemOption">
 		SELECT 
 			`id`
 			,`itemId`
 			,`size`
 			,`color`
 			,`stock`
 		FROM
 			`item_option`
 		WHERE 
 			`itemId`= #{itemId}
 			AND `color` = #{color}
 			AND `size` = #{size}
 	
 	</select>
 	
 	<select id="selectOptionByItemIdColorSize" parameterType="map" resultType="com.shoppingMall.admin.domain.ItemOption">
 		SELECT 
 			`id`
 			,`itemId`
 			,`size`
 			,`color`
 			,`stock`
 		FROM
 			`item_option`
 		WHERE 
 			`itemId`= #{itemId}
 			AND `color` = #{color}
 			AND `size` = #{size}
 	</select>
 	
 	<select id="selectOptionListByItemId" parameterType="int" resultType="com.shoppingMall.admin.domain.ItemOption">
	 	SELECT 
	 			`id`
	 			,`itemId`
	 			,`size`
	 			,`color`
	 			,`stock`
 		FROM
 			`item_option`
 		WHERE 
 			`id`= #{id}
 	</select>
 	
 	<select id="selectOptionByOptionId" resultType="com.shoppingMall.admin.domain.ItemOption">
 	    SELECT 
	 			`id`
	 			,`itemId`
	 			,`size`
	 			,`color`
	 			,`stock`
 		FROM
 			`item_option`
 		WHERE 
 			`id`= #{cartId}
 	</select>
 	
 	<update id="updateStock">
    UPDATE 
    	item_option
    SET 
    	stock = #{stock}
    WHERE 
    	id = #{id}
	</update>
 
 
 </mapper>