<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.shoppingMall.admin.mapper.ItemMapper">
 
 	<insert id="insertItem" parameterType="map">
 		INSERT INTO `item`
 		(
			`name`
			,`content`
			,`price`
			,`sale`
			,`category`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUE
 		(
			#{name}
			,#{content}
			,#{price}
			,#{sale}
			,#{category}
			,#{imagePath}
			,NOW()
			,NOW()
 		)
 	
 	</insert>
 	
 	<select id="selectItemByName"  resultType="com.shoppingMall.admin.domain.Item">
 		SELECT 
 			`id`
 			,`name`
			,`content`
			,`price`
			,`sale`
			,`category`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`item`
 		WHERE
 			`name` = #{name}
 	</select>
 	
 	 <select id="selectItemList"  resultType="com.shoppingMall.admin.domain.Item">
 		SELECT 
 			`id`
 			,`name`
			,`content`
			,`price`
			,`sale`
			,`category`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`item`
 	</select>
 	
 	<select id="selectItemListByName"  resultType="com.shoppingMall.admin.domain.Item">
 		SELECT 
 			`id`
 			,`name`
			,`content`
			,`price`
			,`sale`
			,`category`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`item`
 		WHERE
 			`name` like CONCAT('%',#{name},'%')
 	</select>
 	
 	<select id="selectItemById" resultType="com.shoppingMall.admin.domain.Item">
 		SELECT 
 			`id`
 			,`name`
			,`content`
			,`price`
			,`sale`
			,`category`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`item`
 		WHERE
 			`id` = #{id}
 	
 	</select>
 	
 	<select id="selectItemListAll" parameterType="map" resultType="com.shoppingMall.admin.domain.Item">
	 	SELECT 
	        `id`,
	        `name`,
	        `content`,
	        `price`,
	        `sale`,
	        `category`,
	        `imagePath`,
	        `createdAt`,
	        `updatedAt`
	    FROM
	        `item`
	     WHERE 1=1
	        <if test="direction == 'next'">
	        <![CDATA[
	            AND `id` < #{standardId}
	        ]]>
	        ORDER BY `id` DESC
	        </if>
	        
	        <if test="direction == 'prev'">
	        <![CDATA[
	            AND `id` > #{standardId}
	        ]]>
	        </if>
	    
		    <if test="direction == null">
		    ORDER BY `id` DESC
		    </if>
	    
	    <!-- #{}는 ``가 포함되어 있어서 limit은 ${}로 ``가 안들어있는걸로 해줘야 한다. -->    
	    LIMIT ${limit}
 	</select>
 	
 	<select id="selectIdAsSort"  resultType="int">
 		SELECT 
 			`id`
 		FROM
 			`item`
 		ORDER BY `id` ${sort}
 		LIMIT 1
 	</select>
 	

 
 
 </mapper>