<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-75">
		<h4 class="text-dark">공지사항</h4>
		<!-- 임시로 보기 위해서 : [[${postList}]] -->
		<div class="mt-4">
		<div class="cartTableHeader">
			<table class="table table-bold text-center">
				<thead>
					<tr>
						<th class="col-1">NO.</th>
						<th class="col-4">제목</th>
						<th class="col-2">작성일</th>
						<th class="col-2">수정일</th>
					</tr>
				</thead>
			</table>
		</div>
		<!-- 테이블 바디 (스크롤) -->
	    <div class="scrollTableBody">
	        <table class="table text-center">	
				<tbody>
					<tr th:each="notice,status : ${noticeList}">
						<td th:text="${status.count}" class="col-1"></td>
						<td class="col-4"><b><a th:href="|/shop/admin/notice-detail-view?noticeId=${notice.id}" th:text="${notice.title}" class="text-dark"></a></b></td>
						<td th:text="${#temporals.format(notice.createdAt, 'yyyy.MM.dd HH:mm:ss')}" class="col-2"></td>
						<td th:text="${#temporals.format(notice.updatedAt, 'yyyy.MM.dd HH:mm:ss')}" class="col-2"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 글쓰기 버튼 -->
		<div class="d-flex justify-content-end">
			<a href="/shop/admin/notice-create-view" class="btn btn-dark">글쓰기</a>
		</div>
	</div>
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>