<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<div class="d-flex justify-content-center mt-5">
			<h4 class="text-secondary">NOTICE</h4>
		</div>
		<table class="table my-5 w-100">
			<tbody>
				<tr>
					<th class="bg-light w-25 text-center text-secondary">제목</th>
					<td th:text="${notice.title}" class="w-75"></td>
				</tr>
				<tr>
					<th class="bg-light text-center text-secondary">작성자</th>
					<td>관리자</td>
				</tr>			
			</tbody>		
		</table>
		<hr> 
		<pre th:text="${notice.content}"></pre>
		<hr>
		<div class="d-flex justify-content-end">
			<a href="/shop/main/notice-list-view" class="btn btn-dark">목록</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>