<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section  layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="login-box w-50">
		<h4 class="d-flex justify-content-center mt-5 text-secondary">LOGIN</h4>
		<hr>
		<div class="d-flex justify-content-center w-100">
			<div class="w-100">
				<!-- 로그인  -->
				<form method="post" action="/shop/user/sign-in" id="loginForm">
				<div class="d-flex justify-content-center mt-4">
					<div class="col-9">
					    <div class="d-flex align-items-center mb-2">
					        <span class="col-3">아이디</span>
					        <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요" class="form-control col-9">
					    </div>
					    <div class="d-flex align-items-center">
					        <span class="col-3">비밀번호</span>
					        <input type="password" id="userPwd" name="userPwd" placeholder="비밀번호를 입력하세요" class="form-control col-9">
					    </div>
					</div>
						<div class="col-2">
						    <input type="submit" value="로그인" class="btn btn-dark w-100 h-100">
						</div>
				</div>
				</form>
		
				<!-- 아이디 비번 찾기 -->
				<div class="d-flex justify-content-center mt-4">
					<div>
						<a href="/shop/user/find-id-view"><button class="btn btn-light mr-2">아이디 찾기</button></a>
						<a href="/shop/user/find-pwd-view"><button class="btn btn-light">비밀번호 찾기</button></a>
					</div>
				</div>
				
				<!-- 소셜 로그인 -->
				
				<div class="d-flex justify-content-center mt-2">
					<div>
						<!-- kakao button -->
						<a href="https://kauth.kakao.com/oauth/authorize"
					       th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}">
					        <img src="/images/kakao_login_medium_narrow.png">
					    </a>
						<button class="btn btn-success">구글로그인</button>
					</div>
				</div>
				
				

			
				
				<!-- 회원가입 -->
				<div class="d-flex justify-content-center mt-2">
					<a href="/shop/user/sign-up-view" class="text-secondary">회원가입</a>
				</div>
				
				
			</div>
		</div>
		<hr>
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    
$(document).ready(function(){
    	
    	// 로그인 버튼 클릭 
    	$("#loginForm").on('submit',function(e){
        	e.preventDefault();
    		
    		let userId = $("#userId").val().trim();
    		let password = $("#userPwd").val().trim();
    		
    		// validation
    		if (!userId) {
    			alert("아이디를 입력해주세요");
    			return false;
    		}
    		if (!password) {
    			alert("비밀번호를 입력해주세요");
    			return false;
    		}
    		
    		
    		let url = $(this).attr('action');
    		let params = $(this).serialize();
    		
    		$.post(url, params)
    		.done(function(data){
    			if (data.code == 200) {
    				location.href="/shop/main";
    			} else {
    				alert(data.error_message);
    				
    			}		
    		});
    	});
        	
    });

    </script>
</th:block>