<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="signUp-box w-50">
		<h4 class="d-flex justify-content-center text-secondary my-2">JOIN</h4>
		
		<form method="post" action="/shop/user/sign-up" id="signUpForm">
			<table class="sign-up-table table table-bordered mt-5">
				<tr>
					<th>* 아이디(4자 이상)<br></th>
					<td>
						<!-- 인풋박스 옆에 중복확인을 붙이기 위해 div를 하나 더 만들고 d-flex -->
						<div class="d-flex">
							<input type="text" id="userId" name="userId" class="form-control col-9" placeholder="아이디를 입력하세요.">
							<button type="button" id="userIdCheckBtn" class="btn btn-success ml-2">중복확인</button><br>
						</div>
						
						<!-- 아이디 체크 결과 -->
						<!-- d-none 클래스: display none (보이지 않게) -->
						<div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
						<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
						<div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
					</td>
				</tr>
				<tr>
					<th>* 비밀번호</th>
					<td><input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
				</tr>
				<tr>
					<th>* 비밀번호 확인</th>
					<td><input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호를 입력하세요."></td>
				</tr>
				<tr>
					<th>* 이름</th>
					<td><input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요."></td>
				</tr>
				<tr>
					<th>* 전화번호 ("-"제외)</th>
					<td>
						<input type="text" id="phone" name="phone" class="form-control" placeholder="전화번호를 입력하세요." maxlength="11">
						
						<!-- 전화번호 체크 결과 -->
						<!-- d-none 클래스: display none (보이지 않게) -->
						<div id="phoneCheckLength" class="small text-danger d-none">전화번호 11자리를 입력해주세요.</div>
						<div id="phonCheckOk" class="small text-success d-none">올바른 전화번호 입니다.</div>
					</td>
				</tr>
				<tr>
					<th>* 이메일</th>
					<td class="d-flex">
						<input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요.">
                    </td>
				</tr>		
				<tr>
					<th>* 주소</th>
					<td>
						<span class="d-flex">
							<input type="text" id="postCode" class="form-control col-4" placeholder="우편번호">
							<input type="button" value="우편번호 찾기" id="addressBtn" class="btn btn-secondary ml-2 col-3"><br>
						</span>
						<input type="text" id="address" placeholder="주소" class="form-control my-2">
						<input type="text" id="detailAddress" placeholder="상세주소" class="form-control">											
					</td>
				</tr>				
			</table>
			<br>
			
			
			<button type="submit" id="signUpBtn" class="btn btn-primary float-right mb-3">회원가입</button>
		</form>	
	</div>	
</section>

<th:block layout:fragment="script">
	    <!-- 이메일 자동완성 -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    	<!-- 우편번호 찾기 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>
    	$(document).ready(function(){
    		
    		//우편번호 찾기 
    		$("#addressBtn").on('click',function(){
    			new daum.Postcode({
    	            oncomplete: function(data) {
    	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    	
    	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
    	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
    	                var addr = ''; // 주소 변수
    	                var extraAddr = ''; // 참고항목 변수
    	
    	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
    	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
    	                    addr = data.roadAddress;
    	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
    	                    addr = data.jibunAddress;
    	                }
    	
    	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
    	                document.getElementById('postCode').value = data.zonecode;
    	                document.getElementById("address").value = addr;
    	                // 커서를 상세주소 필드로 이동한다.
    	                document.getElementById("detailAddress").focus();
    	            }
    	        }).open();
    			
    		}); //-------------------- 우편번호 찾기 끝
    		
    		
    		// 아이디 중복 확인 
    		$("#userIdCheckBtn").on('click',function(){
    			
    			// 초기에 경고문구가 안보이게 초기화 
        		$("#idCheckLength").addClass("d-none");
        		$("#idCheckDuplicated").addClass("d-none");
        		$("#idCheckOk").addClass("d-none");
    			
    			let userId = $("#userId").val().trim();
    			
    			if ( userId.length < 4 ) {
    				$("#idCheckLength").removeClass("d-none");
    				return;
    			}    
    			
    			$.ajax({
        			// request
        			 url:"/shop/user/is-duplicated-id"
        			, data:{"userId" : userId}
        			
    				// response
    				, success : function(data){
    					if (data.is_duplicated_id) { // 아이디가 중복인 경우 
    						$("#idCheckDuplicated").removeClass("d-none");
    						return;
    					} else { // 아이디 중복이 아닌 경우 
    						$("#idCheckOk").removeClass("d-none");
    						return;
    					}			
    					
    				}
    				
    				, error : function(error) {
    					alert("중복확인에 실패했습니다.");
    				}
    				
        		});
    		});  //------------ 아이디 중복 확인 끝
    		
    		// 회원가입
    		$("#signUpForm").on('submit',function(e){
    			e.preventDefault(); 
    			
    			let userId = $("#userId").val().trim();
    			let password = $("#password").val().trim();
    			let confirmPassword = $("#confirmPassword").val().trim();
    			let name = $("#name").val().trim();
    			let phone = $("#phone").val().trim();
    			let email = $("#email").val().trim();
    		    let address = $("#address").val().trim();
    		    let detailAddress = $("#detailAddress").val().trim();
    		    let postCode = $("#postCode").val().trim();

    		    let fullAddress = `${postCode} ${address} ${detailAddress}`;
    			
    			// validation
    			if (!userId) {
    				alert("아이디를 입력해주세요");
    				return false;
    			}
    			
    			if (!password || !confirmPassword) {
    				alert("비밀번호를 입력해주세요");
    				return false;
    			}
    			
    			if (password != confirmPassword) {
    				alert("비밀번호가 일치하지 않습니다.");
    				return false;
    			}
    			
    			if (!name) {
    				alert("이름을 입력해주세요");
    				return false;
    			}
    			
    			if (!phone) {
    				alert("전화번호를 입력해주세요");
    				return false;
    			}
    			
    			if (!email) {
    				alert("이메일을 입력해주세요");
    				return false;
    			}
    			
    		    if (!address || !detailAddress || !postCode) {
    		        alert("주소를 입력해주세요");
    		        return false;
    		    }

    			
    			    			
    			// 아이디 중복확인을 안 한 경우 
    			if ($("#idCheckOk").hasClass("d-none")){
    				alert("아이디 중복확인을 해주세요");
    				return false;
    			}
    			
    			let url = $(this).attr("action");
    		    let formData = $(this).serializeArray();
    		    formData.push({ name: 'fullAddress', value: fullAddress });
    			
    			$.post(url, $.param(formData)) 
    			.done(function(data){
    				
    				if (data.code == 200) {
    					alert("가입을 환영합니다. 로그인 해주세요");
    					location.href = "/shop/user/sign-in-view";
    					
    				} else {
    					
    					alert(data.error_message);
    					
    				}
    			})     			
    		}); // -------- 회원가입 끝    	
    		
    	});

    </script>
</th:block>