<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="adminHeaderFragment">

	<div class="header h-75">
		<!-- 로고 영역 -->
		<h1 class="logo d-flex justify-content-center align-items-center h-75 text-secondary">
			관리자 페이지
		</h1>
	</div>
	<!-- 카테고리 영역 -->
	<div class="h-25">
		<div class="category-menu d-flex justify-content-center align-item-center bg-light">
			<nav class="col-8">
				<ul class="nav nav-fill">
					<li class="nav-item"><a href="/shop/admin/notice-list-view" class="nav-link">공지사항</a></li>
					<li class="nav-item"><a href="/shop/admin/inquiry-list-view" class="nav-link">Q&A 관리</a></li>
					<li class="nav-item"><a href="/shop/admin/user-list-view" class="nav-link">회원관리</a></li>
					<li class="nav-item"><a href="/shop/admin/item-add-view" class="nav-link">상품등록</a></li>
					<li class="nav-item"><a href="/shop/admin/item-list-view" class="nav-link">상품목록</a></li>
					<li class="nav-item"><a href="#" class="nav-link">주문목록</a></li>
				</ul>
			</nav>
		</div>
	</div>
	</header>
</html>
      