<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="orderHeaderFragment">
	
	<div class="orderHeader w-100 d-flex justify-content-center">	
		<div class=" col-7">
			<!-- 로고 영역 -->
			<div class="d-flex h-50  bg-light border border-light">
				<div class="logo d-flex justify-content-center align-items-center text-dark">
					<h5 class="text-center ml-3">shop</h5>
				</div>
				
				<div class="d-flex ml-auto justify-content-end align-items-center">
					<a href="#"><img src="/img/cart.png" width="25px"></a>
					<a href="#"><img src="/img/profile.png" width="25px" class="mx-3"></a>
				</div>
			</div>
			<div class="logo d-flex justify-content-center align-items-center h-50 bg-secondary text-white">
				주문/결제
			</div>
		</div>
	</div>
	</header>
</html>
      